<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Webpage</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="https://fontawesome.com/icons/"> -->
    <link rel="icon" type="image/png" href="/public/white BG photo-fotor-bg-remover-20240403133032-removebg-preview.jpg">
    <link rel="stylesheet" href="/public/about.css">
</head>
<body>
<header>
<!-- Icon -->
<span class="icons">
<a href="https://www.linkedin.com/in/sathishkumar-m--2003-/" id="icon"><i class="fab fa-linkedin"></i></a>
<a href="https://github.com/sathishh2003" id="icon"><i class="fa-brands fa-github"></i></a>
<a href="https://www.instagram.com/_sxthishx." id="icon"><i class="fa-brands fa-instagram"></i></a>
</span>
<span class="links">
    <a href="/about" class="about link">ABOUT</a>
    <a href="/projects" class="link">PROJECTS</a>
    <a href="/resume" class="link">RESUME</a>
    <a href="/contact" class="link">CONTACT</a>
</span>
</header>
<main>
    <span class="image">
    <figure>
        <img src="/public/white BG photo-fotor-bg-remover-20240403133032-removebg-preview.jpg" alt="image" width="150px" height="180px" loading="lazy">
    </figure>
    </span>
    <span class="main hello Content">
            <span class="hello">Hello,my name is</span>
            <h1>Sathishkumar</h1>
            <span class="content">I'm a full-stack developer specialised in frontend and backend development for complex scalable web sites. I want to know how I may help your project? check out <a href="/projects" class="paraLink">Projects</a> and <a class="paraLink" href="/resume">resume</a></a></span>         
    </span>
</main>
<footer>
        <h2 class="skills">Skills Overview</h2>
        <div class="skillsOuter">
                <span class="skillColumn1">
                    <i class="fad fa-display-code" id="frontend"></i>
                        <div class="skillInner">
                            <span class="skillType">Frontend</span>
                            <br><br>
                            <i class="fa-solid fa-check"><span class="frontendSkills">Html</span></i> <br>
                            <i class="fa-solid fa-check"><span class="frontendSkills">Css</span></i> <br>
                            <i class="fa-solid fa-check"><span class="frontendSkills">JavaScript</span></i> <br> 
                            <!-- <i class="fa-solid fa-check"><span class="frontendSkills"></span></i> --> 
                        </div>
                </span>
                <span class="skillColumn2">
                    <i class="fa-duotone fa-display-code" id="frontend"></i>
                        <div class="skillInner">
                            <span class="skillType">Backend</span>
                            <br><br>
                            <i class="fa-solid fa-check"><span class="backendSkills">Node js</span></i> <br>
                            <i class="fa-solid fa-check"><span class="backendSkills">Express js</span></i> <br>
                            <i class="fa-solid fa-check"><span class="backendSkills">sql</span></i> <br>
                            <i class="fa-solid fa-check"><span class="backendSkills">Mongodb</span></i> <br>
                            
                        </div>
                </span><span class="skillColumn3">
                    <i class="fa-duotone fa-display-code" id="frontend"></i>
                        <div class="skillInner">
                            <span class="skillType">Others</span>
                            <br><br>
                            <i class="fa-solid fa-check"><span class="othersSkills">Unit testing</span></i> <br>
                            <i class="fa-solid fa-check"><span class="othersSkills">GitHub</span></i> <br>
                            <!-- <i class="fa-solid fa-check"><span class="othersSkills"></span></i> --> 
                            
                        </div>
                </span>
        </div>
</footer>
</body>
</html>
