<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
    <link rel="stylesheet" href="public/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <form action="/about" method="get">
        <header>
            <!-- Icon -->
            <span class="icons">
            <a href="https://www.linkedin.com/in/sathishkumar-m--2003-/" id="icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/sathishh2003" id="icon"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/_sxthishx." id="icon"><i class="fa-brands fa-instagram"></i></a>
            </span>
            <span class="links">
                <a href="/about" class="link">ABOUT</a>
                <a href="/projects" class="link">PROJECTS</a>
                <a href="/resume" class="link">RESUME</a>
                <a href="/contact" class="contact">CONTACT</a>
            </span>
            </header>
<section>
    <main>
        <div class="outer">
            <span><span class="det">Name:</span>&nbsp;&nbsp;sathishkumar <br><br> <span class="det">Address:</span>&nbsp;&nbsp;2/215(2) j.j.nagar palakkad road jamin muthur,pollachi-642005 <br><br><span class="det">Contact No:</span>&nbsp;&nbsp;9789291726 <br><br><span class="det">email:</span>&nbsp;&nbsp;sathishhh2003@gmail.com <br><br> <span class="det">linkedIn:</span>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/sathishkumar-m--2003-/">sathishkumar</a> 
            <br><br> <span class="det">github:</span>&nbsp;&nbsp; <a href="https://github.com/sathishh2003">sathishh2003</a>
            </span>
        </div>
            <input type="submit" value="Back" class="backbtn">
    </main>
    
</section>
</body>
</form>
</html>