<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
   <link rel="stylesheet" href="/public/resume.css">
</head>
<body>
    <form action="/about" method="get">
        <header>
            <!-- Icon -->
            <span class="icons">
            <a href="https://www.linkedin.com/in/sathishkumar-m--2003-/" id="icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/sathishh2003" id="icon"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/_sxthishx." id="icon"><i class="fa-brands fa-instagram"></i></a>
            </span>
            <span class="links">
                <a href="/about" class="link">ABOUT ME</a>
                <a href="/projects" class="link">PROJECTS</a>
                <a href="/resume" class="resume">RESUME</a>
                <a href="/contact" class="link">CONTACT</a>
            </span>
            </header>
    
            <main>
                <span class="island"><img src="./public/island.jpg"></span>
        <span class="outer">
        <figure>
            <img src="public/Sathish_resume___page-0001.jpg" class="fig" alt="my resume" width="455px" height="650px" loading="lazy">
            <figcaption>Thankyou</figcaption>

        </figure>
        <br>
        <button class="backbtn">Back</button>
        </span>
    </main>
</form>
</body>
</html>