*{
    margin: 0px;
    padding:0px;
    scrollbar-width:none;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --BGCOLOR1: #FDD935;
    --BGCOLOR2: #000000;
    --BGCOLOR3:whitesmoke;
}
header{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--BGCOLOR1);
}
body{
    background-color: var(--BGCOLOR3);
}
.links{
    display: flex;
    gap: 1rem;
    font-weight: 500;
    position: relative;
}
.links .about{
    
    color:white;
    background-color: var(--BGCOLOR2);
    border-radius: 3px 3px 0px 0px;
    
}
#icon{
    color:white;
}
/* i{
    color:white;
} */
.skillType{
    font-weight: 600;
    position: relative;
}
.main{
    margin-top:2rem;
}.skills{
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 3rem;
}
.fa-solid{
    color:var(--BGCOLOR2);
}
.frontendSkills, .backendSkills, .othersSkills{
    color:black;
    font-weight: 400;
}
footer{
    transition: 2s;
    background-color: var(--BGCOLOR3);

}
footer:hover{
    transition: 1s;
    background-color:rgba(0, 0, 0, 0.881);
    .skills{
        color:var(--BGCOLOR1);
        text-shadow: 2px 2px 10px var(--BGCOLOR2);

    }
}
.skillsOuter{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.link:hover{
    color:black;
}
.paraLink{
    color: var(--BGCOLOR1);
    text-decoration: none;
}

.skillColumn1, .skillColumn2, .skillColumn3{
    background-color: white;
    min-width: 10rem;
    text-align: center;
    margin-bottom: 6rem;
    padding-bottom:2rem;
    padding-left:2rem;
    padding-right:2rem;
    transition: transform 0.5s;
    transform: scale(1);
} 

.skillType::after{
    content: "";
    background-color: var(--BGCOLOR2);
    height: 2px;
    left: 0px;
    width:100%;
    position: absolute; 
    bottom:-3px;
    box-shadow: 2px 2px 8px var(--BGCOLOR2);
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition:transform 0.4s;  
}

.sathish{
    background: url(./yellow-WhiteBackground.jpg);
    width:14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
    background-clip: text;
}

.skillColumn1:hover, .skillColumn2:hover, .skillColumn3:hover{
    transform: scale(1.2);
    background-color: var(--BGCOLOR1);
    color:var(--BGCOLOR1);
    border:2px solid white;
    text-shadow: 2px 2px 8px black;
    
    
    .skillType::after{
        transform-origin: left;
        transform: scale(1);
    }
    
    .skillType{
        color:var(--BGCOLOR2);
        text-shadow: 2px 2px 8px var(--BGCOLOR2);
    }
    i{
        color:var(--BGCOLOR2);
    }
    .frontendSkills, .backendSkills, .othersSkills{
        color: whitesmoke;
    }
}
.links a{
    color:white;
    text-decoration: none;
    font-size: 0.8rem; 
    margin-top: 0.5rem;
   /*  height:1.2rem; */
    padding:8px;

}
.icons{
    display: flex;
    gap:1rem;
}
#icon{
    font-size: 1.2rem;
}
main{
    background-color:var(--BGCOLOR2);
    display: flex;
    color:white;
    justify-content: center;
    padding:2rem 10rem;
    column-gap: 2rem;
    
}
.about{
    animation-name: about;
    font-weight: bold;
    animation-duration: 1s;
}
@keyframes about{
    from {
        transform: translateX(350px);
    }
}
.pic{
   transition: transform 2s;
}
.pic:hover{
    transform: scale(1.2);
}
main{
    animation-name: main;
    animation-duration: 1s;
}
#icon:hover{
    color: black;
}
@keyframes main{
    from{
        transform: translateY(-350px);
        background-color: transparent;
    }
}
footer{
    animation-name: footer;
    animation-duration: 1s;
}
@keyframes footer {
    from{
        transform: translateY(350px);
    }
}

.icons{
    position: relative;
    animation: icons;
    animation-duration: 2s;
}
@keyframes icons{
    from{
        transform: translateX(-150px);
    }
    50%{
        transform: translateX(120px);
    }
    100%{
        transform: translateX(-2px);
    } 
}
