*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Anton SC Regular */
.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400; /* Regular font weight */
    font-style: normal; /* Normal font style */
    
}
h2{
    font-size:3rem;
    color:white;
    margin-left: -2rem;
    text-shadow: 3px 3px 7px black;
}

:root{
    --BGCOLOR1: #FDD935;
    --BGCOLOR2: #000000;
    --BGCOLOR3:whitesmoke;
}
body{
    min-height:auto;
    text-align: center;
    background:var(--BGCOLOR2);
   /*  background: url('./cyber-technology-security-network-protection-design-free-vector.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    color:var(--BGCOLOR1);
}
.car img{
    position: absolute;
    top:5rem;
    right:0px;
    width:1040px;
    height:565px;
    z-index: -1;
    animation-name:yellowCar;
    animation-duration: 4s;
}
@keyframes  yellowCar{
        from{
            transform: translateX(800px);
        }
}

header{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--BGCOLOR1);
}
.links{
    display: flex;
    gap: 1rem;
    font-weight: 500;
}
/* .links .about{
    color:var(--BGCOLOR2);
    border-bottom: 3px solid white;
} */
#icon{
    color:white;
}
.icons{
    display: flex;
    gap:1rem;
}
.links .contact{
    /* color:var(--BGCOLOR2); */
    color:white;
    background-color: var(--BGCOLOR2);
    border-radius: 3px 3px 0 0;
    /* border-bottom: 3px solid white; */
}
#icon{
    font-size: 1.2rem;
}
.links a{
    color:white;
    text-decoration: none;
    font-size: 0.8rem; 
    margin-top: 0.5rem;
padding:8px;
}

.outer{
    display: flex;
    min-height: 20rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.lblpass{
    position:absolute;
    top:2.5rem;  
    color:var(--BGCOLOR2);
    font-weight: bold;
    pointer-events: none;
    text-decoration: underline;
}
.text{
    outline: none;
    border: none;
    width:100%;
    font-weight: bold;
    background: transparent;
    border-bottom:3px solid black;
}
.inner{
background:transparent;
padding:2rem 2rem;
position: relative;
border-radius: 10px;
border:1px solid rgba(0, 0, 0,0.5);
box-shadow: 2px 2px 8px var(--BGCOLOR1);
height:10rem;
width:20rem;
box-shadow: 2px 2px 8px black;
backdrop-filter: blur(10px);
}
h4{
    margin-top: -2rem;
    
    color:red;
    font-size: 2rem;
    text-shadow: 2px 2px 8px black;
    font-size:3rem;
    text-shadow: 3px 3px 7px black;
}

.text{
    height:35px;
    margin-top: 2rem;
    border-color: black;
    border-radius: 3px;
}

main{
    min-height: 20rem;
    display: flexbox;
    align-content: center;
    margin-top: 2rem;
   
}
.button{
    height:35px;
    color:var(--BGCOLOR1); 
    border: 2px solid black;
    font-weight: 500;
    margin-top: 2rem;
    width: 100%;
}
.button:hover{
    background-color: rgb(82, 82, 44);
    color:var(--BGCOLOR2);

    
}
.button:active{
    color:var(--BGCOLOR1);
    border-color:var(--BGCOLOR3);
}
/* h2{
    animation-name: h2;
    animation-duration: 2s;
}
@keyframes h2{
    from{
        transform: translateY(-400px);
    }  
} */
 .contact{
    animation-name:contact;
    animation-duration: 1s;
}
@keyframes contact{
    from{
        transform: translateX(150px);
    }
}

/*top header*/
.link:hover{
    color:black;
}
#icon:hover{
    color: black;
}
.icons{
    animation: icons;
    animation-duration: 2s;
}
@keyframes icons{
    from{
        transform: translateX(-150px);
    }
    50%{
        transform: translateX(120px);
    }
    100%{
        transform: translateX(-2px);
    } 
}

