*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
:root{
    --BGCOLOR1: rgb(53, 103, 185);
    --BGCOLOR2: lightskyblue;
    --BGCOLOR3:whitesmoke;
}
body{
    min-height:auto;
    text-align: center;
    background-color: var(--BGCOLOR3);
    color:var(--BGCOLOR1);
}
header{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--BGCOLOR1);
}
.links{
    display: flex;
    gap: 1rem;
    font-weight: 500;
}
/* .links .about{
    color:var(--BGCOLOR2);
    border-bottom: 3px solid white;
} */
#icon{
    color:white;
}
.icons{
    display: flex;
    gap:1rem;
}
.links .contact{
    color:var(--BGCOLOR2);
    border-bottom: 3px solid white;
} 
#icon{
    font-size: 1.2rem;
}
.links a{
    color:white;
    text-decoration: none;
    font-size: 0.8rem; 
    height:1.2rem;
    padding:8px;

}

.outer{
    border:2px solid var(--BGCOLOR1);
    padding:2rem 4rem; 
    background-color: var(--BGCOLOR2);
}
.text{
    padding-left: 1rem;
    height:23px;
    margin-top: 2rem;
    border-color: black;
    border-radius: 3px;
}
main{
    min-height: 20rem;
    display: flexbox;
    align-content: center;
    margin-top: 2rem;
}
.button{
    padding:2px 10px;
    color:var(--BGCOLOR1);
    margin-left: 1rem;
    border: 2px solid black;
    font-weight: 500;

}
.button:hover{
    background-color: var(--BGCOLOR1);
    color:var(--BGCOLOR2);
    
}
.button:active{
    color:var(--BGCOLOR2);
    border-color:var(--BGCOLOR3);
}
/* h2{
    animation-name: h2;
    animation-duration: 2s;
}
@keyframes h2{
    from{
        transform: translateY(-400px);
    }  
} */
.contact{
    animation-name:contact;
    animation-duration: 1s;
}
@keyframes contact{
    from{
        transform: translateX(150px);
    }
}
main{
    animation-name: outer;
    animation-duration: 2s;
}
@keyframes outer {
        from{
            color: transparent;
            transform: scale(0);
        }
}
/*top header*/
.link:hover{
    color:black;
}
#icon:hover{
    color: black;
}
.icons{
    animation: icons;
    animation-duration: 2s;
}
@keyframes icons{
    from{
        transform: translateX(-150px);
    }
    50%{
        transform: translateX(120px);
    }
    100%{
        transform: translateX(-2px);
    } 
}

