*{
    margin: 0px;
    padding:0px;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --BGCOLOR1: rgb(53, 103, 185);
    --BGCOLOR2: lightskyblue;
    --BGCOLOR3:whitesmoke;
}
body{
 background-color: var(--BGCOLOR2);
}
header{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--BGCOLOR1);
}
.links{
    display: flex;
    gap: 1rem;
    font-weight: 500;
}
.links .resume{
    color:var(--BGCOLOR2);
    border-bottom: 3px solid white;
} 
#icon{
    color:white;
}
.icons{
    display: flex;
    gap:1rem;
}
#icon{
    font-size: 1.2rem;
}
.links a{
    color:white;
    text-decoration: none;
    font-size: 0.8rem; 
    height:1.2rem;
    padding:8px;

}
/* figcaption{
    margin-left:14rem;
    font-size: 2rem;
    font-family: cursive;
    color:var(--BGCOLOR1);
  
}
*/
img{
    margin-top: 2rem;
    
}
.backbtn{
    padding: 4px 1.7rem;
    color:var(--BGCOLOR3);
    background-color: var(--BGCOLOR1);
    font-family: cursive;
    margin-bottom: 2rem;
    border:2px solid black;
}
.fig{
    animation-name:fig;
    animation-duration: 2s;
}
@keyframes fig{
    from {
        transform: scale(0);
    }
}
.backbtn:hover{
    background-color: var(--BGCOLOR2);
}
.backbtn:active{
    background-color: var(--BGCOLOR1);
    color:var(--BGCOLOR);
}
figcaption{
    font-size: 1.2rem;
    font-weight: 500;
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}  
.resume{
    animation-name: resume;
    animation-duration: 1s;
}
@keyframes resume {
        from{
            transform: translateX(250px);
        }
}
/* top header*/
.link:hover{
    color:black;
}
#icon:hover{
    color: black;
}
.icons{
    animation: icons;
    animation-duration: 2s;
}
@keyframes icons{
    from{
        transform: translateX(-150px);
    }
    50%{
        transform: translateX(120px);
    }
    100%{
        transform: translateX(-2px);
    } 
}
